<h1>Add a Brand</h1>
<h2></h2>
<div class="container">
  <form class="add panel" action="/brands" method="post">
    <h3>Details</h3>
    <div class="form-group">
      <label for="brand_name">Brand Name:</label>
      <input type="text" name="brand_name" value="">
    </div>
    <div class="form-group">
      <label for="brand_price">Brand Price:</label>
      <input type="number" name="brand_price" step="0.01" value="">
    </div>
    <button type="submit" class="btn" name="Submit">Submit</button>
  </form>
</div>
