<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/shoes_styles.css">
    <title>Shoe Stores</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
