<h1>Add a Store</h1>
<h2></h2>
<div class="container">
  <form class="add panel" action="/stores" method="post">
    <h3>Details</h3>
    <div class="form-group">
      <label for="store_name">Store Name:</label>
      <input type="text" name="store_name" value="">
    </div>
    <button type="submit" class="btn" name="button">Submit</button>
  </form>
</div>
