<div class="container">
  <h1>Add a Store</h1>
  <form class="add" action="/stores" method="post">
    <div class="form-group">
      <label for="store_name">Store Name:</label>
      <input type="text" name="store_name" value="">
    </div>
    <button type="Submit" name="button">Submit</button>
  </form>
</div>
